@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/*general styles*/

body{font-family: 'Roboto Mono', monospace; font-size:12px; margin-top:0;
    margin: 0px;
    background-color:mintcream;
}

.nav-check {
    position: absolute;
    top: -3em;
    }
    .nav-check:checked ~ .nav {
    display: block;
    }

    .nav-check:checked ~ .nav-label {
        background-color: powderblue; 
        }

nav ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav li{
border-bottom: solid .5px mintcream;
margin: 15px 0px;
padding: 5px 0px;
}

nav ul a {
    text-decoration: none;
    color: mintcream;
    text-transform: uppercase;
}

a:link {color:mintcream; text-align:center; text-decoration:none; background-color: none;} 
a:visited {background-color:mintcream;}
a:hover {background-color: #00a87e;} 
a:active {background-color:#00a87e;} 

nav li:first-child {
    margin-top: 0px;
}

nav{
    background-color: rgb(85, 28, 6);
    padding: 20px;
}


@media(min-width: 540px){
    nav ul li {
        display: inline-block;
        margin-bottom: none;
        margin-right: 2px solid rgb(85, 28, 6);
        padding-bottom: 4px;
        margin: 0px 15px;
    }
    nav {
            padding: 0px 5px;
        }
}