.blog-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 80%;
}

.donate-header {
    font-size: 48px;
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
    /* margin-left: 30px; */
}

.donate-subheader {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 20pt;
    /* margin: auto; */
    /* margin-left: 50px; */

}

.donate-copy {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

/*------- DONOR AND PAYMENT FORMS -------*/
.donor-info-form-header {
    font-size: 26px;
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-left: 56px;
    color: #006438;

}

.accept-email {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

.form-info {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

.donate-amount-container {
    display: flex;
    margin: auto;
    /* margin: auto; */
}

/* SIDE IMAGE*/

.donate-amount-container .right img {
    display: none;
}

/* DONATE BUTTON CLASS */
.payment-amount {

    /* margin: auto; */
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    line-height: 20pt;

}

/* FORM BUTTON STYLING*/
.donate-amount-lbl {
    background-color: rgb(36, 66, 51);
    padding: 10px;
    width: 50px;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    margin-right: 20px;
    color: white;
    box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
}

.donate-amount-text {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    line-height: 20pt;
}

.donate-btn {
    display: none;
}

.donate-btn:checked+.donate-amount-lbl {
    background-color: #e08803;
}

.donate-submit:hover {
    background-color: #e08803;
    /* opacity: 0.03; */
    transition: 0.3s;
}

.donate-submit:active {
    background-color: #e08803;

}

.donate-amount-lbl:hover {
    background-color: #e08803;
    /* opacity: 0.03; */
    transition: 0.3s;
}

.row-container {
    margin-left: 100px;
}

/* FORM INFO  STYLING */


/* $$$$$$$$$$$$$$$$$$$$$$$$$FLEX DIRECTION AND FELX WRAP for column is below vv */
/* .donor-info-form .row-container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    /* width: 500px; */
    /* margin-bottom: 20px; */
    /* margin-left: 50px; */
/* } */ 


.donor-info-form .row-container label {
    width: 100px;
}

.donor-info-form .row-container input:first-of-type {
    margin-right: 300px;
}

.donor-info-form .row-container input,
.donor-info-form .row-container select {
    flex: 1;
}

.donor-info-form .row-container input {
    outline: none;
    padding: 0 10px;
    display: inline-block;
}

/* DONATE AMOUNT STYLE */


/* DONATE SIDE IMG */



/* DONATE SUBMIT BUTTON */



.donate-submit-btn {
    align-items: flex center;
}

.donate-submit {
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 15px 5px 15px 5px;
    background-color: rgb(36, 66, 51);
    display: block;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    text-align: center;
    width: 200px;
    margin: auto;
    box-shadow: 0px 10px 44px -17px rgba(0, 0, 0, 0.75);
}



.thank-text {
    font-family: 'Sulphur Point', sans-serif;
    /* transition: 5;
    transform: ease; */
    text-transform: uppercase;
    font-size: 1000 !important;
    color: rgb(36, 66, 51);
}

.donate-thankyou-subheader{
    font-family: 'Sulphur Point', sans-serif;
    font-size: 18px;
    /* line-height: 20pt; */
}